# automatic backup files
*~
\#*

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autotools files
Makefile
Makefile.in
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.deps
_build

# generated binaries
mysql_change_user
mysql_character_set_name
mysql_close
mysql_create_db
mysql_data_seek
mysql_dump_debug_info
mysql_errno
mysql_error
mysql_fetch_field
mysql_fetch_field_direct
mysql_fetch_fields
mysql_fetch_lengths
mysql_fetch_row
mysql_field_count
mysql_free_result
mysql_get_client_info
mysql_get_client_version
mysql_get_host_info
mysql_get_proto_info
mysql_get_server_info
mysql_get_server_version
mysql_hex_string
mysql_info
mysql_init
mysql_kill
mysql_list_dbs
mysql_list_fields
mysql_list_processes
mysql_list_tables
mysql_num_fields
mysql_num_rows
mysql_options
mysql_ping
mysql_query
mysql_real_connect
mysql_real_escape_string
mysql_real_query
mysql_select_db
mysql_set_local_infile_handler
mysql_set_server_option
mysql_shutdown
mysql_sqlstate
mysql_stat
mysql_stmt_bind_result
mysql_stmt_close
mysql_stmt_execute
mysql_stmt_field_count
mysql_stmt_free_result
mysql_stmt_init
mysql_stmt_prepare
mysql_store_result
mysql_thread_id
mysql_use_result
